<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
  <head>
    <meta charset="utf-8">

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- custom styles -->
    <link type="text/css" rel="stylesheet" href="main.css">

    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>

    <!-- custom script -->
    <script type="text/javascript" src="app.js"></script>

    <title>Intro Angular</title>
  </head>
  <body ng-controller="MovieCtrl as movies" data-ng-style="movies.style">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- form to add new movie -->
        <br>
        <form data-ng-submit="movies.addMovie()">
          <div class="form-group">
            <label for="movie-title">Movie Title</label>
            <input type="text" data-ng-model="movies.movie.title" class="form-control" placeholder="What do you want to watch?" autofocus>
          </div>
          <input type="submit" value="Add Movie" class="btn btn-default">
        </form>

      <!-- show all moviesToWatch -->
      <div data-ng-if="movies.moviesToWatch.length > 0">
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{movies.moviesToWatch.length}} <spandata-ng-pluralize count="movies.moviesToWatch.length" when="{'1': 'Movie', 'other': 'Movies'}"></span> to Watch
            </h3>
          </div>
          <ul class="list-group">
            <!-- code for one movie -->
            <li data-ng-repeat="movie in movies.moviesToWatch | orderBy:'title' | limitTo: movies.movieLimit" class="list-group-item">
              <p class="list-group-item-text">

                <!-- movie title with conditional class -->
                <span data-ng-class="{watched: movie.watched}">{{movie.title}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
